<section class="p-3">
  <mat-card>
    <mat-card-content>
      <h2>Reservación en {{ reservation.hotel?.name }}</h2>
      <p>
        <strong>Habitación:</strong> {{ reservation.room?.name }} -
        {{ reservation.room?.type }}
        <br />
        <strong>Fecha de ingreso:</strong>
        {{ reservation.checkInDate | date }} a
        <br />
        <strong>Fecha de salida:</strong>
        {{ reservation.checkOutDate | date }}
      </p>

      <p>
        <strong>Huésped principal:</strong>
        <span
          [ngClass]="{
            'text-danger': !reservation.principalGuest?.firstName
          }"
        >
          {{
            reservation.principalGuest?.firstName &&
            reservation.principalGuest?.lastName
              ? reservation.principalGuest?.firstName +
                " " +
                reservation.principalGuest?.lastName
              : "Diligencie los datos de huespedes"
          }}
        </span>
      </p>
      <p>
        <strong>Contacto de emergencia:</strong>
        <span
          [ngClass]="{ 'text-danger': !reservation.emergencyContact?.name }"
        >
          {{
            reservation.emergencyContact?.name
              ? (reservation.emergencyContact?.name | titlecase) +
                " " +
                reservation.emergencyContact?.phone
              : "Diligencie los datos de contacto de emergencia"
          }}
        </span>
      </p>
      <p><strong>Fecha de entrada:</strong> {{ reservation.checkInDate }}</p>
      <p><strong>Fecha de salida:</strong> {{ reservation.checkOutDate }}</p>
      <p>
        <strong>Precio total:</strong> {{ reservation.totalPrice | currency }}
      </p>
      <p><strong>Estado:</strong> {{ reservation.status }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-content>
      <h2>Huespedes</h2>
      <mat-table
        [dataSource]="reservation.guestDetails ?? []"
        class="mat-elevation-z8"
      >
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <div class="p-4 text-danger">Diligencie los datos de huespedes</div>
          </td>
        </tr>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let guest">
            {{ guest.firstName + " " + guest.lastName | titlecase }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="principal">
          <mat-header-cell *matHeaderCellDef> Principal </mat-header-cell>
          <mat-cell *matCellDef="let guest">
            {{ guest.id == reservation.principalGuest?.id ? "Sí" : "No" }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <div class="flex-center">
    <button mat-raised-button (click)="updateStatus(false)">
      Cancelar reserva
    </button>
    <button mat-raised-button color="primary" (click)="updateStatus(false)">
      Aceptar reserva
    </button>
  </div>
</section>
